[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "micEcon"]
	path = micEcon
	url = https://github.com/cran/micEcon
[submodule "micEconAids"]
	path = micEconAids
	url = https://github.com/cran/micEconAids
[submodule "micEconIndex"]
	path = micEconIndex
	url = https://github.com/cran/micEconIndex
[submodule "micEconSNQP"]
	path = micEconSNQP
	url = https://github.com/cran/micEconSNQP
[submodule "miscTools"]
	path = miscTools
	url = https://github.com/arne-henningsen/misctools
[submodule "mvProbit"]
	path = mvProbit
	url = https://github.com/cran/mvProbit
[submodule "sampleSelection"]
	path = sampleSelection
	url = https://github.com/cran/sampleSelection
